@model PlataformaWeb.Business.DTO.MovimentacaoAnimalDTO;
@using PlataformaWeb.WebApp.Extensions

@{ ViewData["Title"] = "Movimentação: " + @Model.DataMovimentacao.ToShortDateString(); }

<div class="row align-items-center justify-content-center">
    <div class="col-xl-7 col-lg-10">
        <fieldset class="form h-100" disabled>
            <legend class="FundoDestaque">Dados da Movimentação</legend>
            <div class="form-row">
                @*<div class="form-group col-md-4">
                    <label asp-for="Tipo" class="control-label">Tipo da Movimentação</label>
                    <select asp-for="Tipo" class="form-control LetraFormulario numerico" asp-items="this.ObterSelectTipoMovimentacaoEntrePastos()"></select>
                </div>*@
                <div class="form-group col-md-4">
                    <label asp-for="DataMovimentacao" class="control-label">Data da Movimentação</label>
                    <input asp-for="DataMovimentacao" type="text" class="form-control" asp-format="{0:dd/MM/yyyy}" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="LocalOrigem" class=" control-label">Local de Origem</label>
                    <input value="@Model.LocalOrigem" class="form-control LetraFormulario" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="LocalDestino" class=" control-label">Local de Destino</label>
                    <input value="@Model.LocalDestino" class="form-control LetraFormulario" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="QuantidadeAnimais" class=" control-label">Qtde. Animais</label>
                    <input value="@Model.QuantidadeAnimais" class="form-control LetraFormulario" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Motivo" class=" control-label"></label>
                    <input value="@Model.Motivo" class="form-control LetraFormulario" />
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="text-center mt-3">
    <a autofocus asp-action="Index" class="btn btn-info"><i class="fa fa-times"></i>&nbsp;Voltar</a>
</div>

